<!DOCTYPE html>
<html>
    <head>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
        
        <img src="" id="image" name="image" class="image"/>
        
    </body>


    <script>
       
            $(function() {
                var imagepath = "";
                var socket = io();
                var stack = "";
             socket.on('user join', function (msg){
                });
                socket.on('reMessage', function (data){
                    if(data.category === 'Natur'){
                    document.body.style.background = '#32a62e';
                    } 
                    if(data.category === 'Familie'){
                    document.body.style.background = '#db1644';
                    } 
                    if(data.category === 'Freizeit'){
                    document.body.style.background = '#f2bc18';
                    } 
                    if(data.category === 'Regional'){
                    document.body.style.background = '#50a5eb';
                    } 
                    imagepath = data.bild1path;
                    
                    axios
                .get("http://139.6.102.67:8080/" + data.category + "/" + data.mmd_id + "/3")
                 .then(res => {  
                stack = res.data;
                document.getElementById('image').src = 'http://139.6.102.67:8080/' + res.data[0].path;
                console.log(res.data)
             /*   socket.on('retvStack', function (data){
                  console.log("Ausgabe" + stack.path);
                    document.getElementById('image').src = 'http://139.6.102.67:8080/' + stack.path;
                });*/
      })
      .catch(err =>
        console.log("Hey! Axios error for Created MMD_Member: " + err)
      );
    });
                });
   
                </script>
</html>