<!DOCTYPE html>
<html>
    <head>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    </head>
    <body>
            <img src="" id="image" name="image" class="image"/>
</ul>

    </body>


    <script>
       
            $(function() {
                var imagepath = "";
                var socket = io();
                var stack = [];
                
      
      //  document.getElementById('image').src = 'http://139.6.102.67:8080/' + stack[2].path;
        socket.on('user join', function (msg){
                });
                socket.on('reMessage', function (data){
                    if(data.category === 'Natur'){
                    document.body.style.background = 'green';
                    } 
                    if(data.category === 'Familie'){
                    document.body.style.background = 'red';
                    } 
                    if(data.category === 'Regional'){
                    document.body.style.background = 'orange';
                    } 
                    if(data.category === 'Freizeit'){
                    document.body.style.background = 'blue';
                    } 
                    imagepath = data.bild1path;
                    stack = null;
                    console.log(data.mmd_id)
               
                axios
                .get("http://139.6.102.67:8080/" + data.category + "/" + data.mmd_id + "/0")
                 .then(res => {
                stack = res.data;
                socket.on('retvStack', function (data){
                  console.log("Ausgabe" + stack[data].path);
                    document.getElementById('image').src = 'http://139.6.102.67:8080/' + stack[data].path;
                });
      })
      .catch(err =>
        console.log("Hey! Axios error for Created MMD_Member: " + err)
      );
    });
     /* console.log(this.stack);
      document.getElementById('image').src = 'http://139.6.102.67:8080/' + stack[2].path;*/
             
            });   
                </script>

<style type="text/css">
    .image{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height:100%;
    width: auto;
    margin: auto;
    overflow: auto;
    }
    </style>
</html>